<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" charset="utf8">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://raw.github.com/wycats/handlebars.js/1.0.0-rc.3/dist/handlebars.js"></script>  
<script src="https://raw.github.com/emberjs/ember.js/release-builds/ember-1.0.0-rc.1.js"></script>
<script src="js/bootstrap.js"></script>

<script src="application.js"></script>
  
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body>

  <script id="favorites" type="text/x-handlebars">
    Favorites
  </script>  

  <script id="about" type="text/x-handlebars">
    About!
  </script>  

  <script id="people" type="text/x-handlebars">
    {{#each people}}
      <li>{{firstName}} {{lastName}}</li>
    {{/each}}
  </script>  

  <script type="text/x-handlebars">

    <header> 
      {{#linkTo "index"}}Home{{/linkTo}}
      {{#linkTo "favorites"}}Favorites{{/linkTo}}
      {{#linkTo "people"}}People{{/linkTo}}
      {{#linkTo "about"}}About{{/linkTo}}
    </header>

    <div>
      {{outlet}}
    </div>

    <footer>
      Footer!
    </footer>

  </script>

  <script>
    var ember = require("ember");
    var App = ember.init();
  </script>

</body>
</html>

