<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.js"></script>
    <script src="/application.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Wow! <%= title %></p>

    <div data-bind="text:name"></div>
    <input type="text" data-bind="value:name"/>

    <div data-bind="text:name"></div>

    <p>First name: <strong data-bind="text: firstName">todo</strong></p>
    <p>Last name: <strong data-bind="text: lastName">todo</strong></p>

    <p>First name: <input data-bind="value: firstName"/></p>
    <p>Last name: <input data-bind="value: lastName"/></p>

    <p>Full name: <strong data-bind="text: fullName"></strong></p>

    <button data-bind="click: capitalizeLastName">Go Caps</button>

    <script>
      require("app")
    </script>

  </body>
</html>
