<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="css/bootstrap.css" type="text/css" charset="utf8">
<link rel="stylesheet" href="css/master.css" type="text/css" charset="utf8">

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://raw.github.com/wycats/handlebars.js/1.0.0-rc.3/dist/handlebars.js"></script>  
<script src="https://raw.github.com/emberjs/ember.js/release-builds/ember-1.0.0-rc.1.js"></script>
<script src="js/bootstrap.js"></script>

<script src="application.js"></script>
  
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body style="margin:15px;bgcolor:#ffffff">


  <script data-template-name="selectedNote" type="text/x-handlebars">
    {{#if controller.content}}
      <h1>{{name}}</h1>
      {{view Ember.TextArea valueBinding="value"}}
    {{/if}}

  </script>  
  
  <script data-template-name="noteListItem" type="text/x-handlebars">
    {{name}}
    {{#if view.isSelected}}
      <button {{action doDeleteNote}} class="btn btn-mini floatRight btn-danger smallMarginBottom">
        x
      </button>
    {{/if}}
  </script>
  
  <script data-template-name="noteList" type="text/x-handlebars">
    {{#each controller}}
      {{view Notes.NoteListItemView contentBinding="this"}}
    {{/each}}
  </script>

  <script data-template-name="notes" type="text/x-handlebars">
    
    <div id="notes-edit">

      {{view Notes.TextField target="controller" action="createNewNote" 
          classNames="input-small search-query mediumTopPadding" 
          valueBinding="controller.newNoteName"}}


      <button id="new-note-btn" class="btn" {{action createNewNote}}>New Note</button>

    </div>

    {{view Notes.NoteListView}}

    {{view Notes.ConfirmDialogView elementId="confirmDeleteConfirmDialog" 
        okAction="doConfirmDelete" cancelAction="doCancelDelete" target="controller"
        header="Delete selected note?"
        message="Are you sure you want to delete the selected Note?"}}

  </script>

  <script data-template-name="confirmDialog" type="text/x-handlebars">
    <div class="modal-header leftAlign">

      <button type="button" class="close" data-dismiss="modal" class="floatRight">
        x
      </button>

      <h1 class="leftAlign">{{view.header}}</h1>  

      <div class="modal-body">
        {{view.message}}
      </div>

      <div class="modal-footer">
        {{#if view.okAction}}
        {{/if}}
      </div>

    </div>
  </script>

  <script data-template-name="application" type="text/x-handlebars">
    {{outlet}}{{render selectedNote}}
  </script>

  <script>
    var Notes = require("ember-apps/notes").Notes;
    //notes.App.initialize();
  </script>

</body>
</html>

