body {
  padding: 10px;
  background-color: #fff;
  font-family: Rockwell, Verdana, sans-serif;
  letter-spacing: 0em;
  color: #353b40;
  margin: 0px;
  padding: 0px;
  font-size: 1.1em;
}
#new-note-btn {
  vertical-align: bottom;
}
#notes-edit {
  margin-bottom: 10px;
}
#notes {
  float: left;
  background: #eeeff3;
  border-radius: 10px;
  width: 20%;
  top: 10px;
  bottom: 10px;
  overflow: scroll;
  padding: 10px;
}
#selectedNote {
  background: #fff;
  border: 0px solid #eeeff3;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 22%;
}
#selectedNote h1 {
  text-align: left;
}
#selectedNote textarea {
  background: url("../notebook.png") repeat-y;
  width: 30%;
  font: normal 14px verdana;
  line-height: 25px;
  padding: 2px 10px;
  border: solid 1px #ddd;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.floatNone {
  float: none;
}
.input-small {
  width: 120px;
}
.mediumTopPadding {
  margin-top: 9px;
  margin-right: 9px;
}
.smallTopPadding {
  margin-top: 5px;
  margin-right: 5px;
}
.centerAlign {
  text-align: center;
}
.fillWidth {
  width: 100%;
}
.almostFillWidth {
  width: 98%;
}
.smallMarginRight {
  margin-right: 5px;
}
.smallMarginBottom {
  margin-bottom: 4px;
}
.noBorderTop {
  border-top: none;
}
.pointer {
  cursor: pointer;
}
.fullWidth {
  width: 95%;
}
.azureBlueBackground {
  background-color: #f0f8ff;
}
.azureBlueBorderThin {
  border: 0px solid #cedfed;
}
.noteListItem {
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 7px;
  line-height: 17px;
  vertical-align: middle;
}
.is-selected {
  background: #08c;
  color: #f1f4ee;
}
